.img-fundo-p1 {
    width: 100%;
    

    /* z-index: 1; */
}

.img-logo {
    height: 120px;
    top: 0px;
    
}

.img-painel2 {
    position: relative;
    top: 100px;    
    height: 500px;
    border-radius: 50px;
    border-color: black;
 
}