/* ------------------------------------  PARA PC E TABLET GRANDE ------------------------------------- */
@media only screen and (max-width: 1265px) and (min-width: 900px) {

/* ------------------------------------  PARA TABLET E CELULAR DEITADO  ------------------------------------- */

@media only screen and (max-width: 900px) and (min-width: 615px) {
    .painel-1-topo {
        width: 100%;
        
        display: flex;

    }
    
    .painel-1-capa {
        width: 100%;
        padding: 3px 10px;
        display:flex;
    }
    
    .img-fundo-p1 {
        width: 150%;
        position: relative;
        left: -30%;
        z-index: 0;
    }

    .titulo-p1 {
        /*
        z-index: 2;
        width: 100%;
        */
        visibility:hidden;
    }

    .img-logo {
        width: 50%;
        
    }

    .tab-menu {
        width: 100%;
    }

    .frase-capa {
        font-size: 1vw;
        
    }
}


/* ------------------------------------  PARA CELULAR GRANDE  ------------------------------------- */

@media only screen and (max-width: 615px) /*and (min-width: 300px)*/ {
    .painel-1-topo {
        display: flex;
        width: 100%;
        justify-content:space-between;
        flex-direction:column;
        height: auto;
    }
    
    .painel-1-capa {
        width: 100%;
        padding: 3px 10px;
        display:flex;
        justify-content:space-between;
        flex-direction:column;
    }
    
    .img-fundo-p1 {
        width: 150%;
        position: relative;
        left: -30%;
        z-index: 0;
    }

    .titulo-div-p1 {
        /*
        z-index: 2;
        width: 100%;
        */
        visibility:hidden;
    }

    .img-logo {
        width: 100%;
        
    }

    .tab-menu {
        width: 100%;
        
        display:flex;
        justify-content:space-between;
        flex-direction:column;
        align-content:flex-start;
    }

    .frase-capa {
        top: 0px;
        justify-items: center;
        
    }

}

/* ------------------------------------  PARA CELULAR PEQUENO  ------------------------------------- 

@media only screen and (max-width: 300px)  {
    .painel-1-topo {
        width: 100%;
        display: grid;
        margin-top: 30px;
    }
    
    .painel-1-capa {
        width: 100%;
        padding: 3px 10px;
        display: flexbox;
    }
    
    .img-fundo-p1 {
        width: 150%;
        position: relative;
        left: -30%;
        z-index: 0;
    }

    .titulo-p1 {
  
        z-index: 2;
        width: 100%;
  
        visibility:hidden;
    }

    .img-logo {
        width: 100%;
        
    }

    .tab-menu {
        width: 100%;
    }
}

*/


/*--------------------------------------- PARA PC ------------------------------------------------------*/
/*@media only screen and (min-width: 1265px) {*/
/* ------------------------------------  PARA PC E TABLET GRANDE ------------------------------------- */
/*@media only screen and (max-width: 1265px) and (min-width: 900px) {*/
/* ------------------------------------  PARA TABLET E CELULAR DEITADO  ------------------------------------- */
/*@media only screen and (max-width: 900px) and (min-width: 615px) {/*
/* ------------------------------------  PARA CELULAR GRANDE  ------------------------------------- */
/*@media only screen and (max-width: 615px) and (min-width: 300px) {*/
/* ------------------------------------  PARA CELULAR PEQUENO  ------------------------------------- */
/*@media only screen and (max-width: 300px)  {*/
