.painel-4 {
    width: 100%;
    

}

.tit-contato {
    display: flex;
    font-size: 30px;
    justify-content: center;
    
}

.painel-contato a{
    text-decoration: none;
    color:grey;
}

/*--------------------------------------- PARA PC ------------------------------------------------------*/
/*@media only screen and (min-width: 1265px) {*/
/* ------------------------------------  PARA PC E TABLET GRANDE ------------------------------------- */
/*@media only screen and (max-width: 1265px) and (min-width: 900px) {*/
/* ------------------------------------  PARA TABLET E CELULAR DEITADO  ------------------------------------- */
/*@media only screen and (max-width: 900px) and (min-width: 615px) {/*
/* ------------------------------------  PARA CELULAR GRANDE  ------------------------------------- */

@media only screen and (max-width: 615px)  {
    .logo-instagran {
        width: 10%;
    }

    .logo-facebook {
        width: 10%;
    }

    .logo-linkedin {
        width: 10%;
    }

}
    /* ------------------------------------  PARA CELULAR PEQUENO  ------------------------------------- */
/*@media only screen and (max-width: 300px)  {*/
