.div-pai {
    display: table;
    width: 100%;
}

.div-filho {
    display: table-row-group;
    
}

.div-neto {
    display: table-row;
    border: 1px solid #999999;
}


.painel-1-topo {
    display: inline-flex;
    
    height: 140px;
	padding: 3px 10px;
}

.painel-1-capa {
    height:600px;
    
	padding: 3px 10px;
}



