.painel-4 {
    width: 100%;
    height: 170px;
    border: 1px solid #999999;
}

.tit-contato {
    display: flex;
    font-size: 30px;
    justify-content: center;
    top: -100px;
}


/*--------------------------------------- PARA PC ------------------------------------------------------*/
/*@media only screen and (min-width: 1265px) {*/
/* ------------------------------------  PARA PC E TABLET GRANDE ------------------------------------- */
/*@media only screen and (max-width: 1265px) and (min-width: 900px) {*/
/* ------------------------------------  PARA TABLET E CELULAR DEITADO  ------------------------------------- */
/*@media only screen and (max-width: 900px) and (min-width: 615px) {/*
/* ------------------------------------  PARA CELULAR GRANDE  ------------------------------------- */

@media only screen and (max-width: 615px)  {
    .logo-instagran {
        width: 100%;
    }

    .logo-facebook {
        width: 100%;
    }

    .logo-whatsapp {
        width: 100%;
    }

}
    /* ------------------------------------  PARA CELULAR PEQUENO  ------------------------------------- */
/*@media only screen and (max-width: 300px)  {*/
