/*--------------------------------------- PARA PC ------------------------------------------------------*/
@media only screen and (min-width: 1265px) {
        .painel-2 {
        margin-top: 10vw;
        padding: 3px 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .img-painel2 {
        position: relative;
        width: 95%;
        border-radius: 50px;
        border-color: black;
    
    }

    .titulo-sobre {
        position: relative;
        font-size: 6vw;
        margin-top: -20px;
    }

    .texto-sobre {
        width: 85%;
        position: relative;
        font-size: 1.8vw;
        text-align: justify;
        margin-top: -50px;
    }

    .div-img-painel2 {
        width: 50%;
    }
    
    .div-txt-painel2 {
        width: 50%;
    }
}
/*--------------------------------------- PARA PC ------------------------------------------------------*/
/*@media only screen and (min-width: 1265px) {*/
/* ------------------------------------  PARA PC E TABLET GRANDE ------------------------------------- */
/*@media only screen and (max-width: 1265px) and (min-width: 900px) {*/
/* ------------------------------------  PARA TABLET E CELULAR DEITADO  ------------------------------------- */
@media only screen and (max-width: 900px) and (min-width: 615px) {
    
    .painel-2 {
        margin-top: 5vw;
        padding: 3px 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .img-painel2 {
        position: relative;
        width: 96%;
        border-radius: 50px;
        border-color: black;
    
    }

    .titulo-sobre {
        position: relative;
        font-size: 6vw;
    }

    .texto-sobre {
        position: relative;
        font-size: 3vw;
        text-align: justify;
        padding: 20px;
    }
}    

/* ------------------------------------  PARA CELULAR GRANDE  ------------------------------------- */
@media only screen and (max-width: 615px) and (min-width: 300px) {
    
        .painel-2 {
            margin-top: 5vw;
            padding: 3px 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    
        .img-painel2 {
            position: relative;
            width: 96%;
            border-radius: 50px;
            border-color: black;
        
        }
    
        .titulo-sobre {
            position: relative;
            font-size: 6vw;
        }
    
        .texto-sobre {
            position: relative;
            font-size: 3vw;
            text-align: justify;
            padding: 20px;
        }
    }    
    
/* ------------------------------------  PARA CELULAR PEQUENO  ------------------------------------- */
@media only screen and (max-width: 300px)  {
    .painel-2 {
        margin-top: 5vw;
        padding: 3px 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .img-painel2 {
        position: relative;
        width: 96%;
        border-radius: 50px;
        border-color: black;
    
    }

    .titulo-sobre {
        position: relative;
        font-size: 6vw;
    }

    .texto-sobre {
        position: relative;
        font-size: 3vw;
        text-align: justify;
        padding: 20px;
    }
}    
