
.painel-3 { 
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tit-servicos {
    width: 100%;
    background-color: yellow;
    color: black;
    display: flex;
    font-size: 30px;
    justify-content: center;
    top: -100px;
}



.img-mudas {
    height: 450px;
    padding-right: 100px;
    padding-top: 100px;
    border-radius: 50px;
    width: 100%;
}

.tit-mudas {
    justify-items: center;
    padding-right: 100px;
    padding-top: 100px;
    border-radius: 50px;
    width: 100%;
}

.img-muda {
    position: relative;
    height: 200px;
    padding-right: 50px;
    left: 10px;
    
}

.img-corte {
    height: 450px;
    padding-right: 100px;
    padding-top: 100px;
    border-radius: 50px;
}

.img-motoserra {
    position: relative;
    height: 200px;
    padding-right: 50px;
    left: 200px;
}

.card-second {
    padding-top: 100px;
    width: 600px;
    text-align: justify;
    padding-right: 30px;
    
}

.img-monit {
    height: 450px;
    padding-right: 100px;
    padding-top: 100px;
    border-radius: 50px;

}

.img-licensa {
    height: 450px;
    padding-right: 100px;
    padding-top: 100px;
    border-radius: 50px;

}

/*--------------------------------------- PARA PC ------------------------------------------------------*/
/*@media only screen and (min-width: 1265px) {*/
/* ------------------------------------  PARA PC E TABLET GRANDE ------------------------------------- */
/*@media only screen and (max-width: 1265px) and (min-width: 900px) {*/
/* ------------------------------------  PARA TABLET E CELULAR DEITADO  ------------------------------------- */
/*@media only screen and (max-width: 900px) and (min-width: 615px) {/*
/* ------------------------------------  PARA CELULAR GRANDE  ------------------------------------- */
@media only screen and (max-width: 615px)  {
    .painel-3 {
        display: flex;
        width: 100%;
    }
    
    .tit-servicos {
        display:flex;
    
        background-color: yellow;
        color: black;
        font-size: 30px;
        justify-content: center;
        top: -100px;
    }
 
    
    .img-mudas {
        height: 350px;
        padding-right: 10px;
        padding-top: 10px;
        border-radius: 50px;
        width: 100%;
    }

    .img-semente {
        height: 350px;
        padding-right: 10px;
        padding-top: 10px;
        border-radius: 50px;
        width: 100%;
    }

    .img-venda-semente {
        height: 350px;
        padding-right: 10px;
        padding-top: 10px;
        border-radius: 50px;
        width: 100%;
    }

    

    .hidden H3 {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        border-radius: 5px;
        width: 100%;
        font-size: 7vw;
    }

    .hidden p {
        font-size: 5vw;
    }

/*    
    .hidden {
        display: flex;
        padding: 1VW;
        border:1px;
        border-style:solid;
        justify-items: center;
    }
*/ 
    .img-muda {
        height: 200px;
        left: 100px;     
    }

    .img-corte {
        height: 450px;
        padding-right: 100px;
        padding-top: 100px;
        border-radius: 50px;
    }

    .img-motoserra {
        position: relative;
        height: 200px;
        padding-right: 50px;
        left: 200px;
    }

    .card-second {
        padding-top: 100px;
        width: 600px;
        text-align: justify;
        padding-right: 30px;
        
    }

    .img-monit {
        height: 450px;
        padding-right: 100px;
        padding-top: 100px;
        border-radius: 50px;

    }

    .img-licensa {
        height: 450px;
        padding-right: 100px;
        padding-top: 100px;
        border-radius: 50px;
   
    
}