
.painel-1-topo {
    display:flex;
    height: 140px;
	padding: 3px 10px;
    width: 100%;
    
}

.painel-1-capa {
    
    width: 100%;
	padding: 3px 10px;
}

.tab-menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.titulo-p1 {
    /*
    z-index: 2;
    width: 100%;
    */
    font-size: 50px;
    width: 70%;
    justify-content: center;
}

.titulo-div-p1 {
    font-size: 130%;    
    width: 50%px;
    top: 50px;
}


/*--------------------------------------- PARA PC ------------------------------------------------------*/
/*@media only screen and (min-width: 1265px) {*/
/* ------------------------------------  PARA PC E TABLET GRANDE ------------------------------------- */
/*@media only screen and (max-width: 1265px) and (min-width: 900px) {*/
/* ------------------------------------  PARA TABLET E CELULAR DEITADO  ------------------------------------- */
/*@media only screen and (max-width: 900px) and (min-width: 615px) {/*
/* ------------------------------------  PARA CELULAR GRANDE  ------------------------------------- */
/*@media only screen and (max-width: 615px) and (min-width: 300px) {*/
/* ------------------------------------  PARA CELULAR PEQUENO  ------------------------------------- */
/*@media only screen and (max-width: 300px)  {*/
