
.painel-3 {
    width: 100%;
    height: 3800px;
    border: 1px solid #999999;
}

.tit-servicos {
    display: flex;
    font-size: 30px;
    justify-content: center;
    top: -100px;
}


.painel-servicos {
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: 700px;
    border: 1px solid #999999;
    padding-top: 50PX;
}

.img-mudas {
    height: 450px;
    padding-right: 100px;
    padding-top: 100px;
    border-radius: 50px;

}

.img-muda {
    position: relative;
    height: 200px;
    padding-right: 50px;
    left: 200px;
}

.img-corte {
    height: 450px;
    padding-right: 100px;
    padding-top: 100px;
    border-radius: 50px;
}

.img-motoserra {
    position: relative;
    height: 200px;
    padding-right: 50px;
    left: 200px;
}

.card-second {
    padding-top: 100px;
    width: 600px;
    text-align: justify;
    padding-right: 30px;
    
}

.img-monit {
    height: 450px;
    padding-right: 100px;
    padding-top: 100px;
    border-radius: 50px;

}
