.box {
    display:flex; /* ESTÁ CRIANDO A BARRA DE ROLAGEM INFERIOR POR DESLOCAR */
    align-items: center;
    justify-content: center;
    
    transform: translateX(200%);
    transition: transform 0.4s ease;
}

.box.enter {
    transform: translateX(0);
    
}

.box.exit {
    transform: translateX(200%);
    
}

/*
.init-hidden {
    opacity: 0.5;
    transition: opacity 1s linear;
}

.init-hidden-off {
    opacity: 1;
}
*/

