section{
    display: grid;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transition: all 2s;
}

.botao-whatsapp {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 0px;
    
    color: black;
    padding: 15px 20px;
    border: none;
    width: 200px;
    height: 80px;
    
}